body {
    background-image:url('src/assets/in rainbows stars.jpeg');
     background-size: cover;   
  background-position: center; 
  background-repeat: repeat;

  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
  background-color:#004aad
}
h2 {
  background-color: #000b3d;
  font-family:sans-serif;
  text-align: start;
  color:#ece6e6
}
.paragraph{
  font-size: 18px;
  color: #ece6e6;
  line-height: 1.5;
  text-align: left;
    display: flex;               /* side-by-side layout */
  align-items: center;         /* vertically center the items */
  justify-content: space-between;
  gap: 40px;                   /* space between text and image */
  padding: 50px;
  background-color: #000b3d;
  color: white;
}
 
