body {
    background-color:black;
     background-size: cover;   
  background-position: center; 
  background-repeat: repeat;

  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
  background-color:#004aad
}
h2 {
  background-color: #000b3d;
  font-family:sans-serif;
  text-align: start;
  color:#ece6e6
}
.paragraph{
  font-size: 18px;
  color: #ece6e6;
  line-height: 1.5;
  text-align: left;
    display: flex;               /* side-by-side layout */
  align-items: center;         /* vertically center the items */
  justify-content: space-between;
  gap: 40px;                   /* space between text and image */
  padding: 50px;
  background-color: #000b3d;
  color: white;
}
nav {
  font-size: 200 px;
  color:#ece6e6;
  background-color:#ffde59;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 200px;
  display: flex;
  align-items: center;



}
.contactusblurb{
  font-size: 25px;
  color: #ece6e6;
  line-height: 1.5;
  text-align: left;
    display: flex;               /* side-by-side layout */
  align-items: center;         /* vertically center the items */
  justify-content: space-between;
  gap: 40px;                   /* space between text and image */
  padding: 50px;
  background-color: #000b3d;


}
