---
import "../styles/style.css"
---
<html lang="en">
  <head>
  <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NHS Space Club</title>
    
  </head>
  <body>
  <div class="bannermove">
  <h1>
   <img src="/public/assets/astronomynightslogo.png" alt="Space Club Astronomy Nights Logo" width="700" length="700" />

   </h1>
   <h2>November 3rd, 2025</h2>
<p class="paragraph">

<img src="/public/assets/nov3rdasn.png" alt="Space Club Astronomy Nights Picture" width="500" length="500" />
Est igitur vis acceleratrix ad vim motricem ut celeritas ad motum. Oritur
enim quantitas motus ex celeritate ducta in quantitatem Materiæ, & vis motrix
ex vi acceleratrice ducta in quantitatem ejusdem materiæ. Nam summa actionum vis acceleratricis in singulas corporis particulas est vis motrix totius. Unde
juxta Superficiem Terræ, ubi gravitas acceleratrix seu vis gravitans in corporibus
universis eadem est, gravitas motrix seu pondus est ut corpus: at si in regiones
ascendatur ubi gravitas acceleratrix fit minor, pondus pariter minuetur, eritq;
semper ut corpus in gravitatem acceleratricem ductum. Sic in regionibus ubi
gravitas acceleratrix duplo minor est, pondus corporis duplo vel triplo minoris
erit quadruplo vel sextuplo minus.
Porro attractiones et impulsus eo
  </body>