---
import "../styles/style.css"
---
<html lang="en">
  <head>
  <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NHS Space Club</title>
    
  </head>
  <body>
  <div class="bannermove">
  <h1>
   <img src="/contactuslogo.png" alt="Space Club 'Contact Us' Logo" width="700" length="700" />

   </h1>

   <nav>
      <a href="/index">Home</a>
      <a href="/astronomynights">Astronomy Nights</a>
      <a href="#">Past Events</a>
      <a href="/contactus">Contact Us</a>
    </nav>

   <h2>Contact Us</h2>
<p class="contactusblurb">
Club Advisor:<br>
Dan Smalley<br>
daniel_smalley@needham.k12.ma.us</p>
Club Presidents:<br>
Brianna Sickmier<br>
brs261@students.needham.k12.ma.us<br>
Molly Perlman<br>
mhp262@students.needham.k12.ma.us<br>
Secretary:<br>
Szilvia Robinson<br>
sbr261@students.needham.k12.ma.us<br>
Treasurer (CONTACT ABOUT ASTRONOMY NIGHTS)<br>
Lily DeBartolo <br>
lily.bee.debartolo@gmail.com
</p>

  </body>