---
import "../styles/style.css"
---
<html lang="en">
  <head>
  <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NHS Space Club</title>
    
  </head>
  <body>
  <div class="bannermove">
  <h1>
   <img src="/contactuslogo.png" alt="Space Club 'Contact Us' Logo" width="700" length="700" />

   </h1>

   <nav>
      <a href="/index">Home</a>
      <a href="/astronomynights">Astronomy Nights</a>
      <a href="#">Past Events</a>
      <a href="/contactus">Contact Us</a>
      <a href="/naturerwe">Click for Wisdom</a>
    </nav>



<h2>Club Advisor:</h2>
<p class="contactusblurb">
<b>Dan Smalley</b><br>
daniel_smalley@needham.k12.ma.us<br><br>
</p>
<h2>Club Presidents:</h2>
<p class="contactusblurb">
<b>Brianna Sickmier</b><br>
brs261@students.needham.k12.ma.us<br>
<b>Molly Perlman</b><br>
mhp262@students.needham.k12.ma.us<br><br>
</p>

<h2>Secretary:</h2>
<p class="contactusblurb">
<b>Szilvia Robinson</b><br>
sbr261@students.needham.k12.ma.us<br><br>
</p>
<h2>Treasurer (CONTACT ABOUT ASTRONOMY NIGHTS)</h2>
<p class="contactusblurb">
<b>Lily DeBartolo</b> <br>

lily.bee.debartolo@gmail.com
</p>


  </body>