---
import "../styles/style.css"
---
<html lang="en">
  <head>
  <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NHS Space Club</title>
    
  </head>

  <body>
    <header class="site-header">
  
    
    <nav>
      <a href="#">Home</a>
      <a href="/astronomynights">Astronomy Nights</a>
      <a href="#">Past Events</a>
      <a href="#">Contact Us</a>
    </nav>

    <h1>
    <img src="/logosc.png" alt="Space Club Logo" width="700" length="700" />
   </h1>
    <h2>Who we are...</h2>
    <p class="paragraph">We are a club at Needham High School dedicated to spreading our love of science
     and our commitment to education. We primarily host viewing nights every month, 
    where we'll pull out our telescopes and show off the planets and stars to members of our community.
     We also go to local elementary schools and volunteer at events in our area to continue 
     teaching about astronomy! When we're not doing outreach, we meet every Monday morning to learn 
      ourselves, reading current events, teaching each other about astrophysical phenomena, and meeting 
      astronomers to learn more and more about the field. For Needham High School students interested 
      in joining, we meet every Monday morning at 7:30 AM before school in Room 102 (Mr. Smalley's room)<img src="/aboutus.png" alt="aboutus" width="500" length="500" /></p>

  </body>
</html>
