---
import "../styles/style.css"
---
<html lang="en">
  <head>
  <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NHS Space Club</title>
    
  </head>

  <body>
    <header class="site-header">
  
    
   

    <h1>
    <img src="/logosc.png" alt="Space Club Logo" width="700" length="700" />
   </h1>

   <nav>
      <a href="/index">Home</a>
      <a href="/astronomynights">Astronomy Nights</a>
      <a href="#">Past Events</a>
      <a href="/contactus">Contact Us</a>
      <a href="/naturerwe">Click for Wisdom</a>
    </nav>


    <h2>NEXT OPEN NIGHT POST-PONED DUE TO POOR WEATHER</h2>
    <img src="/eventpostponed.png" alt="december 10th open astro night" width="600" length="600" />

  
    <h2>Who we are...</h2>
    <p class="paragraph">We are a club at Needham High School dedicated to spreading our love of science
     and our commitment to education. We primarily host viewing nights every month, 
    where we'll pull out our telescopes and show off the planets and stars to members of our community.
     We also go to local elementary schools and volunteer at events in our area to continue 
     teaching about astronomy! When we're not doing outreach, we meet every Monday morning to learn ``
      ourselves, reading current events, teaching each other about astrophysical phenomena, and meeting 
      astronomers to learn more and more about the field. For Needham High School students interested 
      in joining, we meet every Monday morning at 7:30 AM before school in Room 102 (Mr. Smalley's room)<img src="/aboutus.png" alt="aboutus" width="500" length="500" /></p>
<h2>Open Astronomy Nights</h2>
<p class="paragraph">Every month we host open astronomy nights where we'll take out our telescopes, serve hot chocolate, and teach our community about the universe. Every month our members teach themselves a new subject of astronomy to teach other people. Click on the subtab "Astronomy Nights" to receive real time updates about the status of our astronomy nights, as they are very weather dependent. <img src="nov3rdasn.png" alt="astro picture" width="500" length="500" /></p>
  </body>
</html>
